.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.superheros
{
  width: 300px;
}
.selected
{
  background-color: green;
  font-style: italic;
  font-weight: bold;
  
}
.options:hover
{
  background-color: green;
}
.options{
  border:1px solid;
  border-color: gray;
  
}
.success{
  color: green;
  font-weight: bolder;
  font-size: large
}
.danger
{
  color: red;
  font-weight: bolder;
  font-size: large
}
.marge{
  margin-bottom: 5px;
}